---
layout: wide
title: Projects
permalink: /projects/
---

{% include banner.html %}

<div class="grid-container usa-section">
  <div class="grid-row">
    <div class="desktop:grid-col-12 usa-prose padding-right-4">
      <h2>Upcoming Projects</h2>
      {% include projects-column.html project_filter="upcoming" %}

      <h2>Current projects</h2>
      {% include projects-column.html project_filter="current" %}

      <h2>Case Studies</h2>
      <div class="grid-container">
        <div class="grid-row">
        {% for project in site.projects %}
        {% if 'case-study'== project.status %}
          <div class="tablet:grid-col-3">
              {% if project.agency_logo %}
              {% asset "{{ project.agency_logo }}" class="tablet:float-left padding-right-3 padding-top-1 square-15" alt="{{ project.image_alt_text }}" %}
              {% endif %}
              <div class="width-2/3">
                <h3 class="title">
                    <a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ project.url }}">{{project.title}}</a>
                  </h3>
                    <span class="text-bold">{{ project.agency }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    </div>

      <h2>Previous projects</h2>
      {% include projects-column.html project_filter="previous" %}
    </div>
  </div>
  <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div>
</div>
