---
layout: wide
title: Projects
permalink: /projects/
---

{% include banner.html %}

<div class="grid-container usa-section">
  <div class="grid-row">
    <div class="desktop:grid-col-12 usa-prose padding-right-4">
      <h2>Upcoming Projects</h2>
      {% include projects-column.html project_filter="upcoming" %}

      <h2>Current projects</h2>
      {% include projects-column.html project_filter="current" %}

      <h2>Case Studies</h2>
      <div class="grid-container">
        <div class="grid-row">
        {% for project in site.projects %}
        {% if project.status contains 'case_study' %}
          <div class="tablet:grid-col-4">
            <div class="case-study-inner">
              {% if project.cover_art %}
              {% asset "{{ project.cover_art }}" class="square-cards" alt="{{ project.image_alt_text }}" %}
              {% endif %}
              <div>
                <span class="text-uppercase text-bold margin-top-3">{{ project.agency }}</span>
                <h3 class="title">
                  <a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ project.url }}">{{project.title}}</a>
                </h3>
                
                {{ project.summary }}
                  
                <p><a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ project.url }}">Read More ></a></p>
              </div>
            </div>


          </div>
        {% endif %}
      {% endfor %}
    </div>
    </div>

      <h2>Previous projects</h2>
      {% include projects-column.html project_filter="past" %}
    </div>
  </div>
  <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div>
</div>
