<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row flex-justify">
        <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
          <h2 class="">Connect</h2>
          <ul class="social-buttons social-buttons--mini ">
            <li class="social-buttons__item">
              <a href="https://twitter.com/PIFgov" class="social-buttons__link social-buttons__link--twitter" title="Twitter" target="_blank">
                <svg aria-hidden="true" class="social-buttons__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/fontawesome-sprite.svg#twitter"></use>
                </svg>
                <span class="usa-sr-only">Twitter</span>
              </a>
            </li>
            <li class="social-buttons__item">
              <a href="https://www.linkedin.com/" class="social-buttons__link social-buttons__link--linkedin" title="Linked in" target="_blank">
                <svg aria-hidden="true" class="social-buttons__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/fontawesome-sprite.svg#linkedin-in"></use>
                </svg>
                <span class="usa-sr-only">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
          <h2 class="footer__heading">Presidential Innovation Fellows</h2>
          <ul class="footer__list tablet:padding-right-3 tablet:grid-col">
            <li><a href="/">Fellows</a></li>
            <li><a href="/">Projects</a></li>
            <li><a href="/">Agencies</a></li>
            <li><a href="/">Leadership</a></li>
            <li><a href="/faq">FAQs</a></li>
          </ul><ul class="footer__list tablet:padding-right-3 tablet:grid-col">
            <li><a href="/assets/files/usds-di.pdf">Diversity &amp; Inclusion Report</a></li>
            <li><a href="https://playbook.cio.gov/">Digital Services Playbook</a></li>
            <li><a href="https://designsystem.digital.gov/">U.S. Web Design System</a></li>
            <li><a href="https://techfarhub.cio.gov/">TechFAR Hub</a></li>
            <li><a href="/faq">Hiring FAQ</a></li>
          </ul>
        </div><div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
          <h2 class="footer__heading">Resources</h2>
          <ul class="footer__list tablet:padding-right-3">
            <li><a href="/assets/files/usds-di.pdf">Diversity &amp; Inclusion Report</a></li>
            <li><a href="https://playbook.cio.gov/">Digital Services Playbook</a></li>
            <li><a href="https://designsystem.digital.gov/">U.S. Web Design System</a></li>
            <li><a href="https://techfarhub.cio.gov/">TechFAR Hub</a></li>
            <li><a href="/faq">Hiring FAQ</a></li>
          </ul>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 desktop:grid-col margin-bottom-7">
          <h2 class="site-c-footer__heading">Get in Touch</h2>
          <ul class="site-c-footer__list tablet:padding-right-3">
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/assets/files/USDS-Press-Sheet.pdf">USDS Press Kit</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__site-info">
        <a href="mailto:pif-team@gsa.gov">pif-team@gsa.gov</a> | <a href="/privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
