{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">

    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="desktop:grid-col-4 tablet:grid-col-8 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Meet our fellows</h3>
          <p>Over 135 fellows from across the country have worked with 35 agencies.</p>
        </div>
      </div>
      <div class="desktop:grid-col-4 tablet:grid-col-8 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Our projects</h3>
          <p>Fellows work on a wide variety of projects during their twelve-month tenure, resulting in multiple opportunities to serve citizens through far reaching or hyper-focused efforts.</p>
        </div>
      </div>
      <div class="desktop:grid-col-4 tablet:grid-col-8 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
        {% asset circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Become a fellow</h3>
          <p>Learn what you can expect when you apply to be a fellow and what your 12-month tenure will look like.</p>
        </div>
      </div>
    </div>

  </div>
</section>
