<div class="grid-container">
    <div class="grid-row">
{% for project in site.projects %}
    {% if include.project_filter == project.status %}
      <div class="project-item usa-prose">
          {% if project.agency_logo %}
          {% asset "{{ project.agency_logo }}" alt="{{ project.image_alt_text }}" %}
          {% endif %}
          <div class="width-2/3">
            <h3 class="title">
                <a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ project.url }}">{{project.title}}</a>
            </h3>
                <span class="text-bold">{{ project.agency }}</span>
        </div>
      </div>
    {% endif %}
{% endfor %}
</div>
</div>