{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

{% assign navurl = page.url | remove: 'index.html' | remove: '.html' %}
<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4{% if include.order %} order-{{ include.order }}{% endif %}">
  <nav>

    {% if navurl == '/fellows/' %}
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="/fellows/" class="{% if navurl == '/fellows/' %}usa-current{% endif %}">Class</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="/fellows/2012/" class="{% if navurl == '/fellows/2012/' %}usa-current{% endif %}">2012 Fellows</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="/fellows/2013/" class="{% if navurl == '/fellows/2013/' %}usa-current{% endif %}">2013 Fellows</a>
            <!--<ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <a href="">Grandchild link</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="">Grandchild link</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="" class="usa-current">Grandchild link</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="">Grandchild link</a>
              </li>
            </ul>-->
          </li>
          <li class="usa-sidenav__item">
            <a href="/fellows/2015/" class="{% if navurl == '/fellows/2015/' %}usa-current{% endif %}">2015 Fellows</a>
          </li>
          <!--<li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>-->
        </ul>
      </li>
      <!--<li class="usa-sidenav__item">
        <a href="">Parent link</a>
      </li>-->
    </ul>
    {% else %}
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="/fellows/" class="">Test</a>
      </li>
    </ul>
    {% endif %}
  </nav>
</aside>
