{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

{% assign navurl = page.url | remove: 'index.html' | remove: '.html' %}
<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4{% if include.order %} order-{{ include.order }}{% endif %}">
  <nav>
    {% if include.fellows_landing %}
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/fellows/" class="{% if navurl == '{{ site.baseurl }}/fellows/' %}usa-current{% endif %}">Class</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/fellows/2012/" class="{% if navurl == '{{ site.baseurl }}/fellows/2012/' %}usa-current{% endif %}">2012 Fellows</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/fellows/2013/" class="{% if navurl == '{{ site.baseurl }}/fellows/2013/' %}usa-current{% endif %}">2013 Fellows</a>

          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/fellows/2015/" class="{% if navurl == '{{ site.baseurl }}/fellows/2015/' %}usa-current{% endif %}">2015 Fellows</a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
    <!-- On the fellows page -->
    {% if include.pif_project %}
    <h2>Project</h2>
    <ul class="usa-sidenav">
      {% for project in site.projects %}
      {% capture project_id %}{{ project.id | remove: "/projects/"}}{% endcapture%}
      {% if include.pif_project contains project_id %}
      <li class="usa-sidenav__item">
          <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if include.pif_agency %}
    <h2>Agency</h2>
    <ul class="usa-sidenav">
      {% for agency in site.data.agencies %}
      {% if include.pif_agency contains agency.name %}
      <li class="padding-y-2">
          {{ agency.fullname }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    
    {% endif %}
  </nav>
</aside>
