/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS - PIF THEME STYLES
----------------------------------------
*/

// .tablet\:width-1\/3 {
//   width: 33%;
// }
// .tablet\:float-left {
//   float: left;
// }


// Buttons
.usa-button--outline {
  box-shadow: $button-stroke color("secondary");
  color: color("secondary");
  &:hover,
  &.usa-button--hover {
    box-shadow: $button-stroke color("secondary-vivid");
    color: color("secondary-vivid");
  }
  &:active,
  &.usa-button--active {
    box-shadow: $button-stroke color("secondary-vivid");
    color: color("secondary-vivid");
  }
}
.usa-button--secondary:hover, .usa-button--secondary.usa-button--hover {
  @include at-media('desktop') {
    @include u-bg('secondary-vivid');
  }
}

// Navigation
.usa-navbar {
  border-bottom: none;
}
.usa-nav__primary > .usa-nav__primary-item > a, .usa-nav__primary button, .usa-nav__primary button span {
  @include at-media('desktop') {
    color: #fff;
    position: relative;
  }
}
.usa-nav__primary .usa-current, .usa-nav__primary a:hover {
  @include u-text('primary-darker');
}
.usa-nav__primary-item .usa-current::after,  .usa-nav__primary-item .usa-nav__link:hover::after {
  @include u-bg('primary-darker');
  @include at-media('desktop') {
    background-color: #fff;
    border-radius: 0;
    content: "";
    display: block;
    position: absolute;
    height: .25rem;
    left: 1rem;
    right: 1rem;
    bottom: 0;
  }
}
.usa-nav__primary-item:last-child .usa-nav__link:hover::after  {
  @include at-media('desktop') {
    display: none;
  }
}
.usa-nav__primary button[aria-expanded=true], .usa-nav__submenu {
  @include at-media('desktop') {
    background: #fff;
  }
}
.usa-nav__primary button[aria-expanded=true], .usa-nav__primary button[aria-expanded=true] span, .usa-nav__primary button[aria-expanded=true], .usa-nav__primary button[aria-expanded=true] span, .usa-nav__submenu .usa-nav__submenu-item a, .usa-nav__submenu .usa-nav__submenu-item a:hover {
  @include at-media('desktop') {
    @include u-text('primary-darker');
  }
}
.usa-nav__primary > .usa-nav__primary-item > a:hover {
  @include at-media('desktop') {
    color: #fff;
  }
}


// Pagination
.paginate-link {
  display: none;
  @include at-media('tablet') {
    display: initial;
  }
}
.paginate-button {
  display: block;
  @include at-media('tablet') {
    display: none;
  }
}

// Breadcrumb
.breadcrumb {
  padding: units(2);
  display: none;
  @include at-media('tablet') {
    display: block;
  }
}

.usa-intro {
  margin: 0;
}
.project-question {
  background-image: url(asset_path("question.svg")), linear-gradient(transparent, transparent);
  background-position: units('205');
  background-repeat: no-repeat;
  background-size: units(7);
  padding: units(1) units(2);
}

.project-question .usa-intro {
  padding-left: units(9);
  margin: units(1) 0;
}

.project-image {
  @include u-width('card');
  margin: units(2) 0;
}
.usa-hero {
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0, 0.45)), to(rgba(0,0,0, 0.55))), url(asset_path('hero-pif.jpg'));
  background-image: url(asset_path('hero-pif.jpg'));
  background-position: 50% 0;
  .usa-hero__callout {
    // background-color: #fff;
    // color: #333;
    background: none;
    color: #fff;
    @include u-margin-top(15);
    .usa-button {
      @include u-font-size('body', 'lg')
    }
  }
  .usa-hero__heading--alt, .usa-hero__heading{
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    @include u-font-size('body', 'xl')
  }
}


.img-circle {
  border-radius: 50%;
}

.usa-graphic-list .usa-media-block__img {
  float: none;
}

.usa-list li svg {
  vertical-align: middle;
}

.usa-section--dark h3 a {
  @include u-text('secondary');
}

.usa-social-link {
  @include u-margin-top(3);
  @include u-margin-right(1);
}

.usa-social-link--linkedin {
  background-image: url(asset_path("linkedin.svg")), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-header + main {
  @include u-border(1px, "base-darkest");
 }

.usa-footer__secondary-section {
  @include u-bg('secondary');
  a, a:hover, a:visited {
    @include u-text('white');
    text-decoration: none;
  }
}
//  .usa-footer__return-to-top a, .usa-footer__return-to-top a:hover, .usa-footer__return-to-top a:visited {
//
// }

.usa-prose > a.usa-button {
  color: white;
}


.usa-logo {
  a {
    color: #fff;
  }
  @include at-media('desktop') {
    line-height: 0;
    margin: 0;
  }
}
.usa-logo__text {
  width: 10em;
}


.usa-header--basic .usa-nav-container {
  @include at-media('desktop') {
    width: 100%;
    max-width: unset;
    align-items: flex-start;
  }
}


.usa-menu-btn {
  background: none;
}

.usa-hero__callout {
  max-width: none;
  @include at-media('desktop') {
    max-width: 90%;
  }
}

.site-navbar__logo {
  @include at-media('desktop') {
    width: 200px;
    margin-left: 0;
  }
}
.site-header {
  @include at-media('desktop') {
    padding: units('105');
    width: 100%;
  }
}

.usa-banner__content {
  display: hidden;
}

.usa-sidenav span {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.usa-graphic-list {
  @include at-media('desktop') {
    text-align: center;
  }
  .usa-media-block__img {
    margin: 0;
  }
  .img-circle {
    width: 8rem;
  }
}

.partner-card {
  @include u-margin-y(2);

  div {
    @include u-padding(3);
    @include u-border(1px);
    @include u-border('base-light');
    @include clearfix;

  }

  a {
    @include u-color('ink');
    @include u-font-size('sans', 'xs');
  }

  img {
    @include u-square(9);
    @include u-float('left');
    @include u-margin-right(2);

  }
}

ul.project-fellows li {
  list-style: none;
  @include clearfix;
  @include u-margin-bottom(2);
}

.project-item {
  @include u-padding-bottom(5);
  @include u-margin-top(4);
  @include u-border-bottom('2px');
  @include u-border-bottom('base-light');
  @include at-media(tablet) {
    @include grid-col(6);
  }
  @include clearfix;

  h3 {
    @include u-margin-top(0);
  }

  img {
    @include at-media(tablet) {
      @include u-float('left');
    }
    @include u-margin-right(3);
    @include u-margin-top(1);
    @include u-circle(10);
  }
  p {
    font-size: 14px;
  }
}

.case-study-inner {
  @include u-border('base-light');
  @include u-border('1px');

  div {
    @include u-padding-x(2);
    @include u-padding-bottom(2);
  }

  .overlay span {
		@include u-margin(0);
		@include u-position('absolute');
		@include u-width('full');
		@include u-height('full');
		@include u-top(0);
		@include u-left(0);
		cursor: pointer;
    z-index: 1;
  }

  &:hover{
		h3 a{
			@include u-border-bottom('2px', 'primary', 'solid');
		}


	}

}
