/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

h1, h2, h3, h4, h5, h6, [class*='font-heading-'],
.usa-hero__heading, .usa-graphic-list__heading,
.usa-footer--big .usa-footer__primary-link,
.usa-intro,
.usa-prose > h1,
.usa-prose > h2
{
  @include u-font-family('sans');
}
.usa-intro {
  margin: 0;
}
.project-question {
  background-image: url(asset_path("question.svg")), linear-gradient(transparent, transparent);
  background-position: units('205');
  background-repeat: no-repeat;
  background-size: units(7);
  padding: units(1) units(2);
}

.project-question .usa-intro {
  padding-left: units(9);
  margin: units(1) 0;
}

.project-image {
  @include u-width('card');
  margin: units(2) 0;
}

.usa-hero {
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0, 0.45)), to(rgba(0,0,0, 0.55))), url(asset_path('hero-pif.jpg'));
  background-image: url(asset_path('hero-pif.jpg'));
  background-position: center;
}
.usa-hero__callout {
  // background-color: #fff;
  // color: #333;
  background: none;
  color: #fff;
  @include u-margin-top(15);
  .usa-button {
    @include u-font-size('body', 'lg')
  }
}
.usa-hero__heading--alt, .usa-hero__heading{
  color: #fff;
}
.img-circle {
  border-radius: 50%;
}

.usa-logo a {
  color: #fff;
}
.usa-graphic-list .usa-media-block__img {
  float: none;
}

.usa-list li svg {
  vertical-align: middle;
}

.usa-section--dark h3 a {
  @include u-text('secondary');
}

.usa-social-link {
  @include u-margin-top(3);
  @include u-margin-right(1);
}

.usa-social-link--linkedin {
  background-image: url(asset_path("linkedin.svg")), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-header + main {
  @include u-border(1px, "base-darkest");
 }

 .usa-footer__return-to-top a, .usa-footer__return-to-top a:hover, .usa-footer__return-to-top a:visited {
  @include u-text('white');
  text-decoration: none;
}

.usa-prose > a.usa-button {
  color: white;
}

.usa-header--basic .usa-nav-container {
  @include at-media('desktop') {
    width: 100%;
    max-width: unset;
    align-items: flex-start;
  }
}
.usa-sidenav span {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
