---
layout: wide
title: Agencies
permalink: /agencies/
---

<div class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout"></div>
  </div>
</div>

<section class="grid-container usa-section">
  <div class="grid-row">
    <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs">
      <h2>How We Work</h2>
      <p>The Presidential Innovation Fellows work with federal partners that share our values for providing citizen-centric solutions and deploying agile solutions using the best principles and practices of the innovation community.</p>
      <p>Acting like a government-to-government incubator, Presidential Innovation Fellows and their agency partners explore problems, uncover insights, and create exciting new opportunities to improve our government. Our approach includes workshopping, deep dives, design sprints, live user-testing, and rapid prototyping with the goal of maximizing results in the shortest possible timeframe.</p>
      <p>If you are a federal employee or agency and would like to work with us, we’d like to hear from you.</p>
      <a class="usa-button" href="https://proposal.pif.gov">Submit a project</a>
    </div>
  </div>
</section>



<section class="usa-section grid-container usa-prose">
  <h2>Agencies We've Worked With</h2>
  <div class="grid-row grid-gap">
    {% for agency in site.data.agencies %}
    <div class="work-box desktop:grid-col-6 tablet:grid-col-4 flex-auto padding-x-2">
      <div class="work-box-ico grid-col-12 width-full">
      {% asset "{{ agency.name }}.png" alt="{{ agency.name }} logo"  %}
      </div>
      <p class="work-box-head grid-col-12 text-center padding-x-1 margin-top-1">{{ agency.fullname }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="grid-container usa-section usa-prose">
  <div class="grid-row">
    <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs">
      <h2>Agencies We've Worked With</h2>
      <div class="grid-container">
        <div class="grid-row grid-gap">
          {% for agency in site.data.agencies %}
          <div class="tablet:grid-col-4 mobile:grid-col-2 partner-card">
            <div>
              {% asset "{{ agency.name }}.png" alt="{{ agency.name }} logo"  %}
              <a href="{{ agency.url }}" class="usa-link usa-link--external">{{ agency.fullname }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div> -->
</section>
