---
layout: wide
title: Agencies
permalink: /agencies/
---

{% include banner.html %}

<div class="grid-container usa-section">
  <div class="grid-row">
    <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs">
      <h2>How We Work</h2>
      <p>The Presidential Innovation Fellows work with federal partners that share our values for providing citizen-centric solutions and deploying agile solutions using the best principles and practices of the innovation community.</p>
      <p>Acting like a government-to-government incubator, Presidential Innovation Fellows and their agency partners explore problems, uncover insights, and create exciting new opportunities to improve our government. Our approach includes workshopping, deep dives, design sprints, live user-testing, and rapid prototyping with the goal of maximizing results in the shortest possible timeframe.</p>
      <p>If you are a federal employee or agency and would like to work with us, we’d like to hear from you.</p>
      <a class="usa-button" href="https://proposal.pif.gov">Submit a project</a>
    </div>
  </div>
  <div class="grid-row usa-section">
    <div class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs">
      <h2>Agencies We've Worked With</h2>
      <div class="grid-container">
      <div class="grid-row grid-gap">
        {% for agency in site.data.agencies %}
        <div class="grid-col-3">
          <h3><a href="{{ site.baseurl }}/agencies/{{ agency.url }}" class="usa-link usa-link--external">{{ agency.fullname }}</a></h3>
          {% asset "{{ agency.name }}.png" alt="{{ agency.name }} logo" class="square-10" %}
        </div>
        {% endfor %}
      </div>

      </div>
      
    </div>
  </div>
  <!-- <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div> -->
</div>
